html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef; /* TODO */
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono;
}

.transform-origin-0 {
    transform-origin: 0%;
}