---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { BlogPost } from "../../lib/contentful";
import { calculateTTR } from "../../lib/ttr";
import PostCard, { ContentlessPost } from "../../components/postCard";

interface Props {
  posts: ContentlessPost[];
}

export async function getStaticPaths() {
  const { items: allTags } = await contentfulClient.getTags({});
  let groups: any[] = [];

  for (let i = 0; i < allTags.length; i++) {
    const tag = allTags[i].sys.id;

    const posts = await contentfulClient.getEntries<BlogPost>({
      content_type: "blogPost",
      "metadata.tags.sys.id[in]": tag,
    });

    groups.push({
      tag,
      posts: posts.items.map((item) => ({
        title: item.fields.title,
        slug: item.fields.slug,
        description: item.fields.description,
        date: new Date(item.fields.date).toLocaleDateString(),
        author: item.fields.author.fields,
        tags: item.metadata.tags.map((x) => x.sys.id),
        ttr: calculateTTR(item.fields.content),
        suggestedReading: item.fields.suggestedReading,
		    coverImageUrl: item.fields.coverImage?.fields?.file?.url,
      })),
    });
  }

  return groups.map((group) => ({
    params: { tag: group.tag },
    props: {
      posts: group.posts,
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag + "WhatFor"}>
  <main class="mx-auto max-w-5xl space-y-5 mt-5">
    <h1 class="text-3xl uppercase font-mono">{">>"} {tag}</h1>
    {
      posts.map((post) => (
        <PostCard post={post} />
      ))
    }
  </main>
</Layout>
