---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient, ContentlessPost } from "../../lib/contentful";
import type { BlogPost } from "../../lib/contentful";
import { calculateTTR } from "../../lib/ttr";
import PostCard from "../../components/postCard.astro";

interface Props {
  posts: ContentlessPost[];
}

export async function getStaticPaths() {
  const { items: allTags } = await contentfulClient.getTags({});
  let groups: any[] = [];

  for (let i = 0; i < allTags.length; i++) {
    const tag = allTags[i].sys.id;

    const posts = await contentfulClient.getEntries<BlogPost>({
      content_type: "blogPost",
      "metadata.tags.sys.id[in]": tag,
    });

    groups.push({
      tag,
      posts: posts.items.map((item) => ({
        title: item.fields.title,
        slug: item.fields.slug,
        description: item.fields.description,
        date: new Date(item.fields.date).toLocaleDateString(),
        author: item.fields.author.fields,
        tags: item.metadata.tags.map((x) => x.sys.id),
        ttr: calculateTTR(item.fields.content),
        suggestedReading: item.fields.suggestedReading,
        coverImageUrl: item.fields.coverImage?.fields?.file?.url,
      })),
    });
  }

  return groups.map((group) => ({
    params: { tag: group.tag },
    props: {
      posts: group.posts,
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag + "WhatFor"}>
  <main class="mx-auto mb-10 max-w-5xl space-y-5">
    <div
      class="flex flex-col space-y-4 border border-gray-700 bg-gray-800 px-5 py-4 shadow-sm lg:rounded-md lg:border-l-4"
    >
      <h1 class="flex w-full space-x-2 text-xl text-gray-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ababab"
          class="mt-1 h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 6h.008v.008H6V6z"></path>
        </svg>
        <span>
          <a class="text-indigo-400" href="/tags">tags</a>
          /
          <span class="">{tag}</span>
        </span>
      </h1>
    </div>
    {posts.map((post) => <PostCard post={post} />)}
  </main>
</Layout>
