---
import Tag from "../../components/tag";
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";

const entries = await contentfulClient.getTags({});

const tags = entries.items.map((item) => item.sys.id);
---

<Layout title="Tags">
  <main class="mx-auto max-w-5xl space-y-5">
    <div
      class="flex flex-col space-y-4 bg-off-black p-5 shadow-sm lg:border lg:border-gray-flat"
    >
      <h1
        class="flex w-full space-x-1 border-b border-gray-flat pb-1 text-xl text-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ababab"
          class="mt-1 h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 6h.008v.008H6V6z"></path>
        </svg>
        <span>Tags</span>
      </h1>
      <div class="flex justify-between">
        <div class="flex flex-wrap gap-3">
          {tags.map((tag) => <Tag tag={tag} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
