---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import { calculateTTR } from "../lib/ttr";
import PostCard, { ContentlessPost } from "../components/postCard";
import PaginationConsts from "../consts/paginationConsts";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
	order: "-fields.date",
	limit: PaginationConsts.itemsPerPage,
});

const totalItemCount = entries.total;

const posts = entries.items.map((item) => {
	const { title, date, description, slug, author, suggestedReading, coverImage, coverImageAlt } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date),
		author: author.fields,
		tags: item.metadata.tags.map(x => x.sys.id),
		ttr: calculateTTR(item.fields.content),
		suggestedReading: suggestedReading,
		coverImageUrl: coverImage?.fields?.file?.url,
		coverImageAlt: coverImageAlt,
	} as ContentlessPost;
});
---

<Layout title="WhatFor | Technical Blog">
	<main class="space-y-5 mx-auto max-w-5xl">
		{posts.map(post => (
			<PostCard post={post} />
		))}
		{totalItemCount > PaginationConsts.itemsPerPage && (
			<div class="flex justify-center">
				<a
					class="text-lg text-white rounded bg-violet-600 px-4 py-2 hover:bg-violet-700 hover:text-gray-50"
					href="/page/1"
				>
					See all posts
				</a>
			</div>
		)}
	</main>
</Layout>
