---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import { calculateTTR } from "../lib/ttr";
import PostCard, { ContentlessPost } from "../components/postCard";

// TODO: Paginate
const pageSize = 3;
const pageNumber = 1;

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
	order: "-fields.date",
	limit: pageSize,
	skip: (pageNumber - 1) * pageSize,
});

const totalItemCount = entries.total;

const posts = entries.items.map((item) => {
	const { title, date, description, slug, author, suggestedReading, coverImage, coverImageAlt } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date),
		author: author.fields,
		tags: item.metadata.tags.map(x => x.sys.id),
		ttr: calculateTTR(item.fields.content),
		suggestedReading: suggestedReading,
		coverImageUrl: coverImage?.fields?.file?.url,
		coverImageAlt: coverImageAlt,
	} as ContentlessPost;
});
---

<Layout title="WhatFor | Technical Blog">
	<main class="space-y-5 mx-auto max-w-5xl">
		{posts.map(post => (
			<PostCard post={post} />
		))}
	</main>
</Layout>
