---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import { calculateTTR } from "../lib/ttr";
import PostCard, { ContentlessPost } from "../components/postCard";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});

const posts = entries.items.map((item) => {
	const { title, date, description, slug, author } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date),
		author: author.fields,
		tags: item.metadata.tags.map(x => x.sys.id),
		ttr: calculateTTR(item.fields.content),
	} as ContentlessPost;
});
---

<Layout title="WhatFor | Technical Blog">
	<main class="space-y-5 mx-auto max-w-5xl">
		<h1 class="text-3xl mt-5">Chris Walker Technical Blog</h1>
		{
			posts.map((post) => (
				<PostCard post={post} />
			))
		}
	</main>
</Layout>
