---
import "../styles/site.scss";

export interface Props {
	title: string;
}

const ga_key = process.env.GA_MEASUREMENT_ID;

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<script async src={"https://www.googletagmanager.com/gtag/js?id=" + ga_key}></script>
		<script type="text/partytown">
			// @ts-ignore
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());
			// @ts-ignore
			gtag('config', ga_key);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
</style>
