---
import { map } from "lodash";
import type { ContentlessPost } from "../components/postCard";
import { BlogPost, contentfulClient } from "../lib/contentful";
import { calculateTTR } from "../lib/ttr";
import pp from "../images/pp.jpg";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});

const posts = entries.items.map((item) => {
	const { title, date, description, slug, suggestedReading } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date),
		ttr: calculateTTR(item.fields.content),
		suggestedReading: suggestedReading,
	} as ContentlessPost;
});

const recommendedPosts = posts.filter(x => x.suggestedReading);
---

<div class="w-full">
    <div class="sticky top-10 rounded border shadow-sm bg-white divide-y divide-solid">
        <div class="p-5">
            <h1>About WhatFor</h1>
            <img class="rounded-full p-10" src={pp} alt="A Photo of Chris Walker." />
        </div>
        <div class="p-5">
            <h2 class="text-gray-500">Recommended</h2>
            {recommendedPosts.map(post => (
                <div>
                    <a class="text-sm hover:underline" href={"/posts/" + post.slug}>{post.title}</a>
                </div>
            ))}
        </div>
    </div>
</div>