---
import About from "../components/about";
import type { ContentlessPost } from "../components/postCard";
import RecommendedPosts from "../components/recommendedPosts";
import { BlogPost, contentfulClient } from "../lib/contentful";
import { calculateTTR } from "../lib/ttr";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});

const posts = entries.items.map((item) => {
	const { title, date, description, slug, suggestedReading } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date),
		ttr: calculateTTR(item.fields.content),
		suggestedReading: suggestedReading,
	} as ContentlessPost;
});

const recommendedPosts = posts.filter(x => x.suggestedReading);
---

<div class="w-full mr-5">
    <div class="sticky top-10 border-r-indigo-200 border-r-4 rounded-md border shadow-sm bg-white divide-y divide-solid">
        <About />
        <RecommendedPosts posts={recommendedPosts} />
    </div>
</div>