---
import PostCard, { ContentlessPost } from "../../components/postCard";
import Layout from "../../layouts/Layout.astro";
import { BlogPost, contentfulClient } from "../../lib/contentful";
import { calculateTTR } from "../../lib/ttr";

// interface Props {
//   posts: ContentlessPost[];
// }

// export async function getStaticPaths() {

//     // TODO: This entire page is essentially not even close to working yet.
//     const pageSize = 3;

//     const entries = await contentfulClient.getEntries<BlogPost>({
//         content_type: "blogPost",
//         order: "-fields.date",
//         limit: pageSize,
//         skip: ((pageNumber as any as number) - 1) * pageSize,
//     });

//     const totalItemCount = entries.total;

//   const posts = entries.items.map((item) => ({
//     params: { slug: item.fields.slug },
//     props: {
//       title: item.fields.title,
//       description: item.fields.description,
//       author: item.fields.author.fields,
//       content: item.fields.content,
//       date: new Date(item.fields.date).toLocaleDateString(),
//       moreReading: item.fields.moreReading?.map((x) => x.fields),
//       ttr: calculateTTR(item.fields.content),
//       tags: item.metadata.tags.map((x) => x.sys.id),
//       suggestedReading: item.fields.suggestedReading,
//       coverImageUrl: item.fields.coverImage?.fields?.file?.url,
//       coverImageAlt: item.fields.coverImageAlt,
//     },
//   }));

//   return { posts, hasNextPage, hasPrevPage };
// }

// const { pageNumber } = Astro.params;
// const { posts, hasNextPage, hasPrevPage } = Astro.props;
---

<p>WIP</p>

<!-- <Layout title="WhatFor | Technical Blog">
	<main class="space-y-5 mx-auto max-w-5xl">
		{posts.map(post => (
			<PostCard post={post} />
		))}
		{hasPrevPage && (
			<div class="flex justify-center">
				<a
					class="text-lg text-gray-500 rounded px-4 py-2 hover:bg-violet-600 hover:text-gray-50"
					href="/page/1"
				>
					Prev
				</a>
			</div>
		)}
        		{hasNextPage && (
                    <div class="flex justify-center">
                        <a
                            class="text-lg text-gray-500 rounded px-4 py-2 hover:bg-violet-600 hover:text-gray-50"
                            href="/page/1"
                        >
                            Next
                        </a>
                    </div>
                )}
	</main>
</Layout> -->
